.weather {
  font-family: "Tahoma", sans-serif;
  text-align: left;
  padding: 2rem 3rem;
  background: linear-gradient(to bottom, rgb(4, 130, 240), rgb(1, 1, 137));
  color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.weather h1 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.weather p {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.weather select {
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;
}

.weather button {
  .weather {
    font-family: "Tahoma", sans-serif;
    text-align: left;
    padding: 2rem 3rem;
    background: linear-gradient(to bottom, rgb(4, 130, 240), rgb(1, 1, 137));
    color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .weather h1 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .weather p {
    font-size: 1rem;
    margin: 0.5rem 0;
  }

  .weather select {
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
  }

  .weather button {
    .weather {
      font-family: "Tahoma", sans-serif;
      text-align: left;
      padding: 2rem 3rem;
      background: linear-gradient(to bottom, rgb(4, 130, 240), rgb(1, 1, 137));
      color: white;
      border-radius: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .weather h1 {
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }

    .weather p {
      font-size: 1rem;
      margin: 0.5rem 0;
    }

    .weather select {
      margin-bottom: 20px;
      padding: 5px;
      border-radius: 5px;
    }

    .weather button {
      padding: 5px 10px;
      border: none;
      border-radius: 15px;
      background-color: #007bff;
      color: white;
      cursor: pointer;
      float: right;
    }

    .weather button:hover {
      background-color: #0056b3;
    }
    p svg {
      vertical-align: middle;
      margin-right: 10px;
    }
  }
}
